version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: healthdb
      MYSQL_USER: healthuser
      MYSQL_PASSWORD: healthpass
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

  springboot-service:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    ports:
      - "8089:8080"  # host:container
    depends_on:
      - mysql
    networks:
      - app-network

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"   # host:container
    depends_on:
      - springboot-service
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
